Repository alex-feel/claude-code-toolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, psscriptanalyzer

markdownlint:
  name: Markdown Lint
  description: Lint markdown files
  entry: markdownlint-cli2
  language: system
  pass_filenames: true
  require_serial: true

psscriptanalyzer:
  name: PSScriptAnalyzer
  description: Lint PowerShell scripts
  entry: powershell.exe -NoProfile -ExecutionPolicy Bypass -File scripts/hooks/check-powershell.ps1
  language: system
  pass_filenames: true
  require_serial: true

chore(main): release 1.8.1
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Due: markdownlint

docs: improve private repository authentication documentation
  README.md
  environments/README.md
Due: markdownlint

feat: add environment configuration validation system
  .github/workflows/validate-configs.yml
  scripts/models/environment_config.py
  scripts/validate_environment_config.py
Due: none

chore: standardize Python version to 3.12 across all scripts
  .python-version
  scripts/linux/install-claude-linux.sh
  scripts/linux/setup-environment.sh
  scripts/macos/install-claude-macos.sh
  scripts/macos/setup-environment.sh
  scripts/windows/install-claude-windows.ps1
  scripts/windows/setup-environment.ps1
Due: psscriptanalyzer

ci: simplify validation workflow to run only on pull requests
  .github/workflows/validate-configs.yml
Due: none

ci: update job name
  .github/workflows/validate-configs.yml
Due: none

fix: remove --fix flag for better flow
  hooks/library/python_ruff_lint.py
Due: none

chore: rename examples directories to library
  agents/library/code-deep-researcher.md
  agents/library/code-reviewer.md
  agents/library/doc-writer.md
  agents/library/implementation-guide.md
  agents/library/performance-optimizer.md
  agents/library/refactoring-assistant.md
  agents/library/security-auditor.md
  agents/library/test-generator.md
  agents/library/web-best-practices-researcher.md
  environments/library/python.yaml
  environments/templates/basic-template.yaml
  output-styles/library/business-analyst.md
  output-styles/library/content-creator.md
  output-styles/library/creative-writer.md
  output-styles/library/data-scientist.md
  output-styles/library/research-analyst.md
  output-styles/library/system-administrator.md
  scripts/setup_environment.py
  slash-commands/library/commit.md
  slash-commands/library/debug.md
  slash-commands/library/document.md
  slash-commands/library/refactor.md
  slash-commands/library/review.md
  slash-commands/library/test.md
  system-prompts/library/devops-engineer.md
  system-prompts/library/frontend-developer.md
  system-prompts/library/python-developer.md
Due: markdownlint

docs: remove entity listings and counts from documentation
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  agents/README.md
  environments/README.md
  hooks/README.md
  output-styles/README.md
  slash-commands/README.md
  system-prompts/README.md
Due: markdownlint

ci: simplify workflow to validate only pull requests
  .github/workflows/validate-configs.yml
Due: none

feat: add entity counting and badge generation system
  .github/badges/agents.json
  .github/badges/commands.json
  .github/badges/entity-counts.json
  .github/badges/environments.json
  .github/badges/hooks.json
  .github/badges/prompts.json
  .github/badges/styles.json
  .github/badges/total.json
  scripts/count_entities.py
Due: none

ci: add workflow to automatically update entity badges
  .github/workflows/update-badges.yml
Due: none

docs: add dynamic entity count badges to README
  README.md
Due: markdownlint

fix: add PR write permissions to validation workflow
  .github/workflows/validate-configs.yml
Due: none

fix: remove gist creation from badge update workflow
  .github/workflows/update-badges.yml
Due: none

fix: ensure validation workflow always runs to satisfy branch protection
  .github/workflows/validate-configs.yml
Due: none

docs: remove total components badge
  README.md
Due: markdownlint

fix: skip validation workflow on Release Please PRs
  .github/workflows/validate-configs.yml
Due: none

chore(main): release 1.9.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Due: markdownlint

docs: add PR title guidelines to avoid Conventional Commits in PR names
  CLAUDE.md
Due: markdownlint

test: add comprehensive pytest tests for Python modules
  pyproject.toml
  tests/__init__.py
  tests/conftest.py
  tests/test_count_entities.py
  tests/test_environment_config.py
  tests/test_validate_environment_config.py
  uv.lock
Due: none

ci: add GitHub Actions workflow for running tests
  .github/workflows/test.yml
Due: none

chore: migrate from ruff.toml to pyproject.toml configuration
  ruff.toml
  version.txt
Due: none

ci: enhance workflow automation
  .github/workflows/release-please.yml
  .github/workflows/update-badges.yml
Due: none

chore: update release-please to use python release type
  release-please-config.json
Due: none

docs: update development commands for testing
  CLAUDE.md
Due: markdownlint

fix: test workflow and dependency configuration
  .github/workflows/test.yml
  pyproject.toml
  uv.lock
Due: none

fix: use uv run for install script tests
  .github/workflows/test.yml
Due: none

test: fix failing tests and add comprehensive test coverage
  scripts/models/environment_config.py
  tests/conftest.py
  tests/test_count_entities.py
  tests/test_install_claude.py
  tests/test_install_claude_additional.py
  tests/test_install_claude_critical.py
  tests/test_setup_environment.py
  tests/test_setup_environment_additional.py
  tests/test_validate_environment_config.py
Due: none

fix: resolve CI test failures and validation issues
  .github/workflows/validate-configs.yml
  tests/test_install_claude.py
Due: none

fix: skip Windows-specific tests on Unix platforms
  tests/test_install_claude_additional.py
  tests/test_install_claude_critical.py
Due: none

fix: correct symlink test assertions for Unix platforms
  tests/test_setup_environment_additional.py
Due: none

fix: correct test assertions for register_global_command edge cases
  tests/test_setup_environment_additional.py
Due: none

fix: move release-please skip condition to step level for matrix jobs
  .github/workflows/test.yml
Due: none

fix: properly handle release-please PRs in matrix jobs
  .github/workflows/test.yml
Due: none

chore(main): release 1.9.1
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
Due: markdownlint

feat: add pre-download validation for environment configurations
  scripts/setup_environment.py
  tests/test_setup_environment_validation.py
  uv.lock
Due: none

docs: add critical test suite requirements to CLAUDE.md
  CLAUDE.md
  tests/test_setup_environment.py
  tests/test_setup_environment_additional.py
Due: markdownlint

fix: remove unsupported option
  slash-commands/README.md
  slash-commands/library/debug.md
  slash-commands/library/refactor.md
  slash-commands/library/review.md
  slash-commands/templates/basic-template.md
Due: markdownlint

fix: remove autoupdate functionality that causes hangs
  scripts/install_claude.py
  tests/test_install_claude.py
  tests/test_install_claude_critical.py
Due: none

Path conditions:
  markdownlint: any of: \.(md|markdown)$
  psscriptanalyzer: any of: \.ps1$
