Repository alex-feel/claude-code-toolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, psscriptanalyzer

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: end-of-file-fixer
      name: End-of-file fixer (non-Python)
      description: Ensures every *non-Python* file is empty or ends with a single newline
      exclude: ^.*\.(json|pyi?|py)$

    - id: trailing-whitespace
      name: Trailing-whitespace (non-Python)
      description: Trims trailing whitespace in non-Python text files
      exclude: ^.*\.(pyi?|py)$

- repo: local
  hooks:
    - id: markdownlint
      name: Markdown Lint
      description: Lint markdown files
      entry: markdownlint-cli2
      language: system
      files: \.(md|markdown)$
      pass_filenames: true
      require_serial: true

    - id: psscriptanalyzer
      name: PSScriptAnalyzer
      description: Lint PowerShell scripts
      entry: powershell.exe -NoProfile -ExecutionPolicy Bypass -File scripts/hooks/check-powershell.ps1
      language: system
      files: \.ps1$
      pass_filenames: true
      require_serial: true

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
    - id: shellcheck
      name: Shellcheck
      description: Lint shell scripts
      types: [shell]
      args: [--severity=warning]

- repo: https://github.com/commitizen-tools/commitizen
  rev: v4.8.3
  hooks:
    - id: commitizen

chore(main): release 1.1.4
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Due: markdownlint

fix: configure MCP server without requiring npm in PATH
  scripts/windows/setup-python-environment.ps1
Due: psscriptanalyzer

feat: add cross-platform Python installer scripts
  .pre-commit-config.yaml
  ruff.toml
  scripts/install-claude.py
  scripts/setup-python-environment.py
Due: none

chore: migrate platform scripts to uv bootstrappers
  scripts/linux/install-claude-linux.sh
  scripts/linux/setup-python-environment.sh
  scripts/macos/install-claude-macos.sh
  scripts/macos/setup-python-environment.sh
  scripts/windows/install-claude-windows.ps1
  scripts/windows/setup-python-environment.ps1
Due: psscriptanalyzer

ci: unify CI workflow with pre-commit
  .github/workflows/lint.yml
Due: none

fix: use correct setup-node action version v4
  .github/workflows/lint.yml
Due: none

fix: resolve shebang and executable file issues
  .pre-commit-config.yaml
  scripts/install-claude.py
  scripts/linux/install-claude-linux.sh
  scripts/linux/setup-python-environment.sh
  scripts/macos/install-claude-macos.sh
  scripts/macos/setup-python-environment.sh
  scripts/setup-python-environment.py
Due: none

chore(main): release 1.2.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Due: markdownlint

fix: correct uv PATH configuration in Windows PowerShell scripts
  scripts/windows/install-claude-windows.ps1
  scripts/windows/setup-python-environment.ps1
Due: psscriptanalyzer

fix: correct Python version specifier syntax for uv
  scripts/linux/install-claude-linux.sh
  scripts/linux/setup-python-environment.sh
  scripts/macos/install-claude-macos.sh
  scripts/macos/setup-python-environment.sh
  scripts/windows/install-claude-windows.ps1
  scripts/windows/setup-python-environment.ps1
Due: psscriptanalyzer

fix: add Node.js to PATH after MSI installation on Windows
  scripts/install-claude.py
Due: none

fix: resolve npm install failures and SSL certificate errors
  scripts/install-claude.py
  scripts/setup-python-environment.py
Due: none

fix: properly handle SSL errors and npm path resolution
  scripts/install-claude.py
  scripts/setup-python-environment.py
Due: none

fix: run MCP configuration in separate shell context
  scripts/setup-python-environment.py
Due: none

fix: properly execute MCP configuration with full claude path
  scripts/setup-python-environment.py
Due: none

fix: add --scope user flag to MCP configuration commands
  scripts/setup-python-environment.py
Due: none

fix: properly pass command-line arguments in PowerShell launcher
  scripts/setup-python-environment.py
Due: none

feat: incorporate YAGNI, DRY, KISS, and SOLID principles into Python developer prompt
  system-prompts/examples/python-developer.md
Due: markdownlint

docs: remove non-existent documentation files and redundant READMEs
  docs/README.md
  docs/agents.md
  docs/claude-directory.md
  docs/installing.md
  docs/output-styles.md
  docs/python-setup.md
  docs/quickstart.md
  docs/slash-commands.md
  docs/troubleshooting.md
  docs/windows-installer-internals.md
  scripts/linux/README.md
  scripts/macos/README.md
  scripts/windows/README.md
  system-prompts/templates/minimal-template.md
Due: markdownlint

docs: update README files to accurately reflect repository state
  README.md
  agents/README.md
  mcp/README.md
  output-styles/README.md
  scripts/README.md
  slash-commands/README.md
  system-prompts/README.md
Due: markdownlint

docs: enhance CONTRIBUTING.md with CI/CD pipeline and development setup
  CONTRIBUTING.md
Due: markdownlint

chore(main): release 1.3.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Due: markdownlint

feat: add Git Bash support for claude-python command on Windows
  scripts/README.md
  scripts/setup-python-environment.py
Due: markdownlint

chore(main): release 1.4.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Due: markdownlint

fix: use Unix-style paths for system prompt loading on Windows
  scripts/setup-python-environment.py
Due: none

docs: update agent invocation trigger language for consistency
  agents/README.md
  agents/examples/code-reviewer.md
  agents/examples/doc-writer.md
  agents/examples/implementation-guide.md
  agents/examples/performance-optimizer.md
  agents/examples/refactoring-assistant.md
  agents/examples/security-auditor.md
  agents/examples/test-generator.md
  agents/templates/basic-template.md
  system-prompts/examples/python-developer.md
Due: markdownlint

fix: escape backslash in PowerShell regex pattern
  scripts/setup-python-environment.py
Due: none

fix: use Git Bash to pass system prompt content on Windows
  scripts/setup-python-environment.py
Due: none

fix: bash wrapper now executes directly instead of going through PowerShell
  scripts/setup-python-environment.py
Due: none

chore(main): release 1.4.1
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Due: markdownlint

refactor: remove broken PowerShell/CMD wrappers for claude-python
  scripts/setup-python-environment.py
Due: none

docs: remove misleading PowerShell/CMD system prompt instructions
  README.md
  scripts/README.md
  system-prompts/README.md
Due: markdownlint

fix: implement working PowerShell/CMD wrappers for claude-python command
  README.md
  scripts/README.md
  scripts/setup-python-environment.py
  system-prompts/README.md
Due: markdownlint

docs: add technical documentation for PowerShell/CMD system prompt solutions
  technical-docs/APPEND_SYSTEM_PROMPT_CMD.md
  technical-docs/APPEND_SYSTEM_PROMPT_POWERSHELL.md
Due: markdownlint

fix: properly escape PowerShell arguments with spaces in claude-python wrapper
  scripts/setup-python-environment.py
Due: none

chore(main): release 1.4.2
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Due: markdownlint

docs: update README.md
  README.md
Due: markdownlint

feat: transform setup system to be configuration-driven via YAML
  environments/README.md
  environments/examples/business-analyst.yaml
  environments/examples/full-stack.yaml
  environments/examples/python.yaml
  scripts/linux/setup-environment.sh
  scripts/macos/setup-environment.sh
  scripts/setup-environment.py
  scripts/setup-python-environment.py
  scripts/windows/setup-environment.ps1
Due: markdownlint, psscriptanalyzer

docs: update documentation and fix configuration-driven setup
  README.md
  environments/README.md
  environments/examples/business-analyst.yaml
  environments/examples/full-stack.yaml
  environments/examples/python.yaml
  environments/templates/basic-template.yaml
  hooks/README.md
  hooks/examples/python_ruff_lint.py
  scripts/README.md
  scripts/setup-environment.py
Due: markdownlint

fix: correct PowerShell command syntax and improve error handling
  README.md
  environments/README.md
  scripts/setup-environment.py
  scripts/windows/setup-environment.ps1
Due: markdownlint, psscriptanalyzer
