Repository alex-feel/claude-code-toolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, psscriptanalyzer

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: end-of-file-fixer
      name: End-of-file fixer (non-Python)
      description: Ensures every *non-Python* file is empty or ends with a single newline
      exclude: ^.*\.(json|pyi?|py)$

    - id: trailing-whitespace
      name: Trailing-whitespace (non-Python)
      description: Trims trailing whitespace in non-Python text files
      exclude: ^.*\.(pyi?|py)$

- repo: local
  hooks:
    - id: markdownlint
      name: Markdown Lint
      description: Lint markdown files
      entry: markdownlint-cli2
      language: system
      files: \.(md|markdown)$
      pass_filenames: true
      require_serial: true

    - id: psscriptanalyzer
      name: PSScriptAnalyzer
      description: Lint PowerShell scripts
      entry: powershell.exe -NoProfile -ExecutionPolicy Bypass -File scripts/hooks/check-powershell.ps1
      language: system
      files: \.ps1$
      pass_filenames: true
      require_serial: true

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
    - id: shellcheck
      name: Shellcheck
      description: Lint shell scripts
      types: [shell]
      args: [--severity=warning]

- repo: https://github.com/commitizen-tools/commitizen
  rev: v4.8.3
  hooks:
    - id: commitizen

chore(main): release 1.0.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Due: markdownlint

ci: exclude CHANGELOG.md from markdown linting
  .github/workflows/lint.yml
  .pre-commit-config.yaml
Due: none

fix: remove redundant empty INFO message from Windows installer
  scripts/windows/install-claude-windows.ps1
Due: psscriptanalyzer

chore(main): release 1.0.1
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Due: markdownlint

docs: add macOS and Linux installation documentation
  README.md
  docs/installing.md
  docs/quickstart.md
Due: markdownlint

fix: replace security contact placeholder with GitHub advisories link
  SECURITY.md
Due: markdownlint

chore(main): release 1.0.2
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Due: markdownlint

docs: enhance sub-agent template with comprehensive usage guide
  agents/templates/basic-template.md
Due: markdownlint

feat: enhance agent template with tool bundling rules and invocation triggers
  agents/templates/basic-template.md
Due: markdownlint

fix: add missing Edit tool to agents that use Write
  agents/examples/code-reviewer.md
  agents/examples/doc-writer.md
  agents/examples/performance-optimizer.md
  agents/examples/refactoring-assistant.md
  agents/examples/security-auditor.md
  agents/examples/test-generator.md
Due: markdownlint

feat: add output styles feature with templates and examples
  output-styles/README.md
  output-styles/examples/business-analyst.md
  output-styles/examples/content-creator.md
  output-styles/examples/creative-writer.md
  output-styles/examples/data-scientist.md
  output-styles/examples/research-analyst.md
  output-styles/examples/system-administrator.md
  output-styles/templates/basic-template.md
Due: markdownlint

docs: add output styles documentation and update existing docs
  README.md
  docs/agents.md
  docs/output-styles.md
Due: markdownlint

feat: enhance slash commands with comprehensive workflows and frontmatter support
  slash-commands/examples/commit.md
  slash-commands/examples/debug.md
  slash-commands/examples/document.md
  slash-commands/examples/refactor.md
  slash-commands/examples/review.md
  slash-commands/examples/test.md
  slash-commands/templates/basic-template.md
Due: markdownlint

feat: add implementation-guide agent for comprehensive library documentation
  agents/README.md
  agents/examples/implementation-guide.md
Due: markdownlint

docs: add comprehensive MCP configuration guide
  mcp/README.md
Due: markdownlint

chore: update LICENSE copyright holder and formatting
  LICENSE
Due: none

feat: add comprehensive system prompts framework for Claude Code
  system-prompts/README.md
  system-prompts/examples/devops-engineer.md
  system-prompts/examples/frontend-developer.md
  system-prompts/examples/python-developer.md
  system-prompts/templates/base-template.md
  system-prompts/templates/minimal-template.md
Due: markdownlint

docs: add MCP server tool specification guidance for sub-agents
  agents/README.md
  agents/examples/implementation-guide.md
  agents/templates/basic-template.md
Due: markdownlint

fix: remove non-existent subagents from system prompts README
  system-prompts/README.md
Due: markdownlint

feat: add Python environment setup scripts for all platforms
  scripts/linux/setup-python-environment.sh
  scripts/macos/setup-python-environment.sh
  scripts/windows/setup-python-environment.ps1
Due: psscriptanalyzer

feat: add global claude-python command registration to setup scripts
  scripts/linux/setup-python-environment.sh
  scripts/macos/setup-python-environment.sh
  scripts/windows/setup-python-environment.ps1
Due: psscriptanalyzer

fix: correct critical documentation errors about system prompt usage
  README.md
  system-prompts/README.md
Due: markdownlint

docs: add comprehensive scripts directory documentation
  docs/README.md
  docs/python-setup.md
  scripts/README.md
  scripts/linux/README.md
  scripts/macos/README.md
  scripts/windows/README.md
Due: markdownlint

fix: resolve PowerShell script parse errors in setup-python-environment.ps1
  scripts/windows/setup-python-environment.ps1
Due: psscriptanalyzer

chore: update pre-commit hook to match CI PowerShell analysis behavior
  scripts/hooks/check-powershell.ps1
Due: psscriptanalyzer

Revert "chore: update pre-commit hook to match CI PowerShell analysis behavior"
  scripts/hooks/check-powershell.ps1
Due: psscriptanalyzer

fix: resolve PSScriptAnalyzer warnings in setup-python-environment.ps1
  scripts/windows/setup-python-environment.ps1
Due: psscriptanalyzer

chore(main): release 1.1.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Due: markdownlint

fix: make setup-python-environment.ps1 compatible with iex execution
  scripts/windows/setup-python-environment.ps1
Due: psscriptanalyzer

chore(main): release 1.1.1
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Due: markdownlint

ci: skip all lint jobs for Release Please PRs
  .github/workflows/lint.yml
Due: none

fix: prevent early exit in setup-python-environment.ps1
  scripts/windows/setup-python-environment.ps1
Due: psscriptanalyzer

docs: clarify setup-python-environment.ps1 execution steps
  scripts/windows/README.md
Due: markdownlint

chore(main): release 1.1.2
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Due: markdownlint

fix: allow full Bash access in commit slash command
  slash-commands/examples/commit.md
Due: markdownlint

ci: update GitHub Actions to latest versions
  .github/workflows/lint.yml
Due: none

fix: use proper claude mcp add command for Context7 server
  scripts/windows/setup-python-environment.ps1
Due: psscriptanalyzer

fix: prevent Release Please PRs from blocking due to skipped required checks
  .github/workflows/lint.yml
Due: none

chore(main): release 1.1.3
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Due: markdownlint

fix: use full path to claude command for MCP server configuration
  scripts/windows/setup-python-environment.ps1
Due: psscriptanalyzer
