Repository alex-feel/claude-code-toolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, psscriptanalyzer

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: end-of-file-fixer
      name: End-of-file fixer (non-Python)
      description: Ensures every *non-Python* file is empty or ends with a single newline
      exclude: ^.*\.(json|pyi?|py)$

    - id: trailing-whitespace
      name: Trailing-whitespace (non-Python)
      description: Trims trailing whitespace in non-Python text files
      exclude: ^.*\.(pyi?|py)$

- repo: local
  hooks:
    - id: markdownlint
      name: Markdown Lint
      description: Lint markdown files
      entry: markdownlint-cli2
      language: system
      files: \.(md|markdown)$
      pass_filenames: true
      require_serial: true

    - id: psscriptanalyzer
      name: PSScriptAnalyzer
      description: Lint PowerShell scripts
      entry: powershell.exe -NoProfile -ExecutionPolicy Bypass -File scripts/hooks/check-powershell.ps1
      language: system
      files: \.ps1$
      pass_filenames: true
      require_serial: true

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
    - id: shellcheck
      name: Shellcheck
      description: Lint shell scripts
      types: [shell]
      args: [--severity=warning]

- repo: https://github.com/commitizen-tools/commitizen
  rev: v4.8.3
  hooks:
    - id: commitizen

fix: resolve setup-environment.py runtime errors and improve reliability
  scripts/setup-environment.py
Due: none

fix: use uv's inline script dependencies for PyYAML
  scripts/setup-environment.py
Due: none

chore(main): release 1.5.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Due: markdownlint

fix: make hooks cross-platform compatible
  scripts/setup-environment.py
Due: none

fix: use forward slashes in hook paths to avoid JSON escaping issues
  scripts/setup-environment.py
Due: none

feat: use additional-settings.json for environment-specific hooks
  scripts/setup-environment.py
Due: none

fix: resolve hook execution in Windows shells
  environments/examples/python.yaml
  scripts/setup-environment.py
Due: none

docs: add doc with POSIX approach
  technical-docs/APPEND_SYSTEM_PROMPT_CMD.md
  technical-docs/APPEND_SYSTEM_PROMPT_POWERSHELL.md
  technical-docs/SHARED_POSIX_SCRIPT_APPROACH.md
Due: markdownlint

feat: refactor hooks configuration to use separate files and events sections
  environments/examples/python.yaml
  environments/templates/basic-template.yaml
  scripts/setup-environment.py
Due: none

docs: update hooks documentation for new configuration structure
  hooks/README.md
Due: markdownlint

docs: update available commands
  scripts/setup-environment.py
Due: none

feat: refactor environment config to support optional system prompts and output styles
  environments/README.md
  environments/examples/python.yaml
  environments/templates/basic-template.yaml
  scripts/setup-environment.py
Due: markdownlint

feat: auto-configure MCP server permissions in additional-settings.json
  scripts/setup-environment.py
Due: none

feat: support loading env configs from URLs, local files, or repository
  README.md
  environments/README.md
  scripts/setup-environment.py
Due: markdownlint

chore: add CLAUDE.md
  CLAUDE.md
Due: markdownlint

feat: add model configuration and advanced permissions support
  environments/README.md
  environments/templates/basic-template.yaml
  scripts/setup-environment.py
Due: markdownlint

feat: add environment variables configuration support
  environments/README.md
  environments/templates/basic-template.yaml
  scripts/setup-environment.py
Due: markdownlint

feat: add private repository authentication support
  environments/README.md
  scripts/setup-environment.py
Due: markdownlint

chore(main): release 1.6.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Due: markdownlint

feat: add flexible URL support for environment configurations
  environments/README.md
  environments/templates/basic-template.yaml
  scripts/setup-environment.py
Due: markdownlint

fix: auto-append {path} to base-url if not present
  environments/README.md
  environments/templates/basic-template.yaml
  scripts/setup-environment.py
Due: markdownlint

chore(main): release 1.7.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Due: markdownlint

docs: improve agent template with critical usage guidelines
  agents/templates/basic-template.md
Due: markdownlint

feat: add specialized research agents for code and web investigation
  agents/examples/code-deep-researcher.md
  agents/examples/web-best-practices-researcher.md
Due: markdownlint

docs: fix incorrect documentation about installer behavior
  README.md
  environments/README.md
  scripts/README.md
  scripts/setup-environment.py
Due: markdownlint

feat: add automatic Claude Code upgrade functionality
  scripts/install-claude.py
Due: none

chore: rename Python files to follow PEP 8 naming conventions
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  environments/README.md
  scripts/README.md
  scripts/install_claude.py
  scripts/linux/install-claude-linux.sh
  scripts/linux/setup-environment.sh
  scripts/macos/install-claude-macos.sh
  scripts/macos/setup-environment.sh
  scripts/setup_environment.py
  scripts/windows/install-claude-windows.ps1
  scripts/windows/setup-environment.ps1
  technical-docs/SHARED_POSIX_SCRIPT_APPROACH.md
Due: markdownlint, psscriptanalyzer

feat: support multiple environments with separate settings files
  scripts/setup_environment.py
Due: none

chore(main): release 1.8.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Due: markdownlint

fix: prevent PowerShell terminal from closing when using iex
  scripts/windows/setup-environment.ps1
Due: psscriptanalyzer

fix: add pause prompts to prevent terminal from auto-closing
  scripts/__pycache__/setup_environment.cpython-312.pyc
  scripts/windows/setup-environment.ps1
Due: psscriptanalyzer

chore: update .gitignore
  .gitignore
Due: none

fix: add pause prompts to prevent terminal from auto-closing
  scripts/windows/setup-environment.ps1
Due: psscriptanalyzer

fix: revert add pause prompts to prevent terminal from auto-closing
  scripts/windows/setup-environment.ps1
Due: psscriptanalyzer

fix: revert prevent PowerShell terminal from closing when using iex
  scripts/windows/setup-environment.ps1
Due: psscriptanalyzer

fix: pass authentication tokens to Python script for private repository support
  README.md
  scripts/linux/setup-environment.sh
  scripts/macos/setup-environment.sh
  scripts/windows/setup-environment.ps1
Due: markdownlint, psscriptanalyzer

fix: convert GitLab web URLs to API format for authentication
  README.md
  scripts/setup_environment.py
Due: markdownlint

fix: strip query parameters from GitLab URLs to prevent Windows filename errors
  scripts/setup_environment.py
Due: none

fix: strip query parameters from system prompt filename in launcher script
  scripts/setup_environment.py
Due: none
